@import "tailwindcss";

@theme {
  --color-ash: #d4cfc8;
  --color-ash-dark: #9e9890;
  --color-rust: #c0522a;
  --color-rust-light: #e0693a;
  --color-dirt: #0e0c0a;
  --color-concrete: #1a1814;

  --font-sans: "Arial Narrow", "Arial", sans-serif;
}

body {
  background-color: var(--color-dirt);
  color: var(--color-ash);
  font-family: var(--font-sans);
}
